body {
	font-family: Brandon Grotesque,Futura, Tahoma, sans-serif;
	color:white;
	text-align: center;
	background-color: white;
	margin: 0px;
	padding: 0px;
	}

#index {
	background: url("bg6.jpg") no-repeat center fixed; 
	background-size:cover;
}

p {
	text-align: justify;
	padding:1em;
}

span {
	color:red;
}

nav {
	text-align: center;
	position: fixed;
	top:0px;
	left: 0px;
	z-index: 1;
}

ul {
	list-style-type: none;
	margin:0px;
	border:0px;
	padding: 0px;
}

li {
	display:inline-block;
	float:left;
	min-width: 7.5em;
	padding-top:1em;
	padding-bottom: 1em;
	background-color: rgba(0,100,200,0.8);
}

li:hover {
	background-color: rgba(0,170,100,0.8);
}

a {
	text-decoration: none;
	color:white;
}

canvas {
	margin-top:5em;
	margin-left:8em;
}

header {
	//background-color: rgba(0,200,255,0.5);
	text-align: center;
	margin-bottom:10px;
}

header h1{
	//background-color: rgba(0,20,25,0.8);
	padding-top: 275px;
	padding-bottom: 26px;
	margin-top:0px;
}

.sidebar {
	top: 414px;
	position: absolute;
    display:block;
	width:15em;
	height:inherit;
	background-color: rgba(0,40,60,0.7);
}

.sticky {
	position: fixed;
	top: 3.45em;
	width:15em;
}

article {
    display:inline-block;
    position: relative;
	background-color: rgba(0,40,60,0.7);
    margin-left:16em;
    margin-right: 1em;
}

article img {
    width:100%;
}

details {
	margin-left: 1em;
	text-align: left;
}

figure {
	margin: 5px;
	text-align: center;
}

footer {
	text-align: center;
	background-color: rgba(0,40,60,0.7);
	clear:both;
    margin-left:16em;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-right: 1em;
	position: relative;
	display:block;
}

.button {
	background-color: rgba(0,200,255,0.3);
	text-align: center;
	margin: auto;
	width:40em;
	height: 10em;
	margin-bottom: 0.5em;
	border:0.3em solid rgba(255,255,255,0.3);
}

.button h1 {
	padding-top: 1.5em;
}

#b1 {
	margin-top: 10em;

}

.button:hover {
	border:0.3em solid rgba(255,255,255,0.3);
	background-color: rgba(0,255,200,0.3);
}